.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  text-align: center;
  width: 200px;
  cursor: pointer;
  margin: 0px 20px;
}

.card.selected {
  border: 3px solid #41cc16;
}

.currency-icon {
  max-width: 50px;
  width: 100%;
}

.form {
  max-width: 500px;
  margin: 50px auto;
}

.form .fas {
  line-height: unset;
  padding: 0px 10px;
}
